@model  PriOrder.App.ModelsView.USER_PASSWORD
@{
    ViewBag.Title = "Change Password";
}

<section class="p-3">
    @using (Html.BeginForm("ChangePassword", "Accounts", new { FormMethod.Post}))
    {
        @Html.AntiForgeryToken()
        <div class="mb-2">
            @Html.PasswordFor(model => model.USER_PASSWORD_OLD, new { @class = "form-control bg-light", required = "required", placeholder = "Old Password" })
        </div><div class="mb-2">
            @Html.PasswordFor(model => model.USER_PASSWORD_NEW, new { @class = "form-control bg-light", required = "required", placeholder = "New Password" })
        </div><div class="mb-2">
            @Html.PasswordFor(model => model.USER_PASSWORD_CONFIRM, new { @class = "form-control bg-light", required = "required", placeholder = "Confirm Password" })
        </div>
        <input type="submit" value="Change Password" class="btn btn-primary w-100" />
    }
</section>