@{
    ViewBag.Title = "Change Password";
}

<section class="p-3">
    <form action="" class="m-3">
        <div class="mb-2">
            <input type="password" class="form-control bg-light" placeholder="Old Password">
        </div><div class="mb-2">
            <input type="password" class="form-control bg-light" placeholder="New Password">
        </div><div class="mb-2">
            <input type="password" class="form-control bg-light" placeholder="Confirm Password">
        </div>
        <a href="@Url.Action("MyProfile","Accounts")" class="btn btn-primary w-100">Change </a>
    </form>
</section>