<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <connectionStrings>
    <add name="AioOraDb_1st" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=RPGL;Password=rpgl;Data Source=172.17.9.154:1521/PRAN;pooling=false;" />
  </connectionStrings>
</configuration>
