@{
    ViewBag.Title = "Banks";
}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Bank</th>
            <th>Account</th>
            <th>Number</th>
            <th>Branch</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>ABC Bank</td>
            <td>KYS Products Ltd</td>
            <td>123-456-454</td>
            <td>Dhaka</td>
        </tr>
        <tr>
            <td>ZYA Bank Ltd</td>
            <td>Zohu Shippings Pvt. Ltd</td>
            <td>8756-AX4-4YZ</td>
            <td>China</td>
        </tr>
    </tbody>
</table>