@{
    ViewBag.Title = "My Orders";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Order</th>
            <th>Date</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1123</td>
            <td width="130">03-JAN-2022</td>
            <td><p>QxR</p> 2x = $34.00 </td>
        </tr>
        <tr>
            <td>4567</td>
            <td width="130">15-JAN-2022</td>
            <td><p>QxR</p> 1x = $4.00 </td>
        </tr>
    </tbody>
</table>