@{
    ViewBag.Title = "Statements";
}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Transaction</th>
            <th>Date</th>
            <th>Source</th>
            <th>Referance</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1123</td>
            <td width="130">03-JAN-2022</td>
            <td>KYS Bank</td>
            <td>EID-4643</td>
            <td>500$</td>
        </tr>
        <tr>
            <td>4562</td>
            <td width="130">04-JAN-2022</td>
            <td>Purchase</td>
            <td>ORD-6487</td>
            <td>300$</td>
        </tr>
    </tbody>
</table>