@{
    ViewBag.Title = "NF";
}
<section class="p-3">
    <h5 class="title-section pb-2">Select any</h5>
    <nav class="nav-list">
        <a class="btn-list" href="@Url.Action("TandC")">
            <i class="icon-control material-icons md-keyboard_arrow_right"></i>
            <span class="text">Application</span>
        </a>
        <a class="btn-list" href="@Url.Action("MyDistributors")">
            <i class="icon-control material-icons md-keyboard_arrow_right"></i>
            <span class="text">My Distributors</span>
        </a>
        <a class="btn-list" href="@Url.Action("MyNominee")">
            <i class="icon-control material-icons md-keyboard_arrow_right"></i>
            <span class="text">My Nominee</span>
        </a>
    </nav>
</section>