@{
    ViewBag.Title = "Rules and Regulations";
}

<section class="m-3">
    <div class="col-12">
        <h4>আরএফএল এর ডিলার নিশ্চিন্ত তহবিল এর শর্তাবলী</h4>
        <ol>
            <li>“ডিলার নিশ্চিন্ত তহবিল” এর জন্য অবশ্যই আবেদন করতে হবে।</li>
            <li>এই চুক্তিপত্রের তারিখ কর্তৃপক্ষ আবেদন গ্রহণের পর থেকে কার্যকর হবে যা আর এফ এল “ডিলার নিশ্চিন্ত তহবিল” হিসাবে সংরক্ষিত থাকবে।</li>
            <li>পরিবেশক যে কোন প্রোডাক্ট গ্রুপের মাধ্যমে তহবিলে অন্তর্ভুক্তির জন্য আবেদন করতে পারবেন। তবে পরিবেশক হিসাবে (আর এফ এল) গ্রুপের সাথে তার ব্যবসার মেয়াদ কমপক্ষে ৩ বছর হতে হবে।</li>
            <li>তহবিলে অন্তর্ভুক্তির জন্য অন্তর্ভুক্তি বছরের পূর্ববর্তী বছরে মোট বিক্রয় সর্বনিম্ন ১২,০০,০০০/- (বার লক্ষ) টাকা হতে হবে এবং কমপক্ষে ১০ মাসের ডিও(DO) থাকতে হবে।</li>
            <li>একজন পরিবেশক তার ট্রেড লাইসেন্সের বিপরীতে আর এফ এল গ্রুপের সকল ব্যবসার জন্য একটি মাত্র আবেদন করতে পারবেন।</li>
            <li>তহবিল থেকে আর্থিক সুবিধা পাওয়ার জন্য সদস্য কাল সর্বনিম্ন ৬ বৎসর হতে হবে এবং সদস্যের বয়স কমপক্ষে ৬৫ বৎসর হতে হবে।</li>
            <li>পরিবেশক প্রয়োজনে প্রতি ৫ বৎসর অন্তর তার প্র্যাপ্য তহবিলের সর্বোচ্চ ৫০% টাকা উত্তোলন করতে পারবেন । কিন্তু কোন পরিবেশক যদি তার প্রাপ্য ১০০% টাকা উত্তোলন করে তবে পরবর্তীতে ঐ পরিবেশকের পুনরায় তহবিলে অন্তর্ভুক্তির কোন সুযোগ থাকবে না।</li>
            <li>তহবিলের সুবিধা গ্রহণের সময় আর এফ এল কোম্পানীর সাথে তার ব্যবসায়িক কার্যক্রম অবশ্যই চালু থাকতে হবে।</li>
            <li>এই তহবিল গঠনের ৬ বৎসরের মধ্যে কোন প্রকার সুবিধা  উত্তোলন করা যাবে না এবং সুবিধা উত্তোলন বৎসরের পূর্ববর্তী বৎসরগুলোতে অবশ্যই আর এফ এল কোম্পানীর সাথে পরিবেশকের (৩ ও ৪ নং শর্ত অনুযায়ী) নিয়মিত ব্যবসা চালু থাকতে হবে।</li>
            <li>তহবিলের অন্তর্ভুক্ত সদস্য “কোম্পানীর পরিচালনা পর্ষদ/তহবিল পরিচালনা পর্ষদ” বরাবর আবেদনের মাধ্যমে তার সুবিধা উত্তোলন করতে পারবেন।</li>
            <li>এই তহবিল কোন প্রকার নিশ্চয়তা সঞ্চিতি (Security Deposit) হিসাবে বিবেচিত হবে না এবং বিপরীতে কোন প্রকার ঋন সুবিধা প্রদান করা হবে না।</li>
            <li>
                অন্তর্ভুক্তির জন্য প্রয়োজনীয় কাগজপত্রঃ
                <ol>
                    <li>নির্ধারিত ফর্মে আবেদন করতে হবে।</li>
                    <li>ভোটার আইডি কার্ড/ জন্মসনদপত্রের সত্যায়িত অনুলিপি।</li>
                    <li>আবেদনকারী এবং নমিনি- এর সত্যায়িত ছবি (২ কপি)।</li>
                </ol>
            </li>
        </ol>
        <p>
            বিশেষ দ্রষ্ট্রব্যঃ
            যেহেতু এটি একটি কোম্পানী স্বপ্রণোদিত উদ্যোগ, কাজেই এই তহবিলের নীতিমালার যে কোন পরিবর্তন, পরিবর্ধনের সম্পূর্ন এখতিয়ার কোম্পানীর ব্যবস্থাপনার হাতে ন্যাস্ত থাকবে।
        </p>
        <hr />
        <p>উপরোল্লেখিত শর্তাবলীর মর্মার্থ বুঝে সজ্ঞানে আর এফ এল এর ডিলার নিশ্চিন্ত তহবিল এ অংশ গ্রহনের জন্য <a href="@Url.Action("Apply")" class=""><i class="material-icons md-edit"></i>আবেদন</a> করলাম।</p>


    </div>
</section>