@model IEnumerable<PriOrder.App.Models.WO_SUP_MSG>
@{
    ViewBag.Title = "Feedback";
}
@foreach (var item in Model)
{
    <article class="card-banner rounded bg-light mb-2">
        <div class="p-3" style="width:95%">
            <span class="float-end badge bg-warning">@item.SUP_NUMBER</span>
            <span class="text-secondery">@item.CREATE_DATE</span>
            <p>
                @item.CTYP_TYPE
                <a href="@Url.Action("FeedbackReply", "Messages", new { replyId= item.SUP_NUMBER})" class="badge bg-danger">Reply</a>
            </p>
        </div>
    </article>
}