@model PriOrder.App.Models.WO_SUP_MSG
@{
    ViewBag.Title = "Support Request";
}
<p class="alert">
    <a href="@Url.Action("Support","Messages")" class="badge bg-danger"> View all messages</a>
</p>
<div class="mb-3">
    @using (Html.BeginForm(FormMethod.Post))
    {
        @Html.AntiForgeryToken();

        <div class="form-group">
            @Html.DropDownList("CTYP_TYPE", ViewBag.CTYP_TYPE as List<SelectListItem>, new { @class = "form-select", required = "required" })
        </div>
        <small>Min 10 & Max 250 char.</small>
        <div class="form-group row">
            <div class="col-10">
                <textarea name="SUP_NUMBER" class="form-control" placeholder="Write your problem is here!" required="required" maxlength="250" minlength="10"></textarea>
            </div>
            <div class="col-2">
                <br />
                <button type="submit" class="btn w-100 btn-primary"><i class="material-icons md-send"></i></button>
            </div>
        </div>
    }
</div>